/atividade02/atividade02-parte2/build/
/atividade03/JavaApplication1/nbproject/private/
/atividade03/atividade03/build/
/atividade03/Servlet1/nbproject/private/
/atividade03/Servlet1/build/
/atividade03/WebApplication1/nbproject/private/
/atividade03/WebApplication1/build/
/atividade04/atividade04_CalcSalario/nbproject/private/
/atividade04/atividade04_CalcSalario/build/